@page
@model CorePhisics.Pages.Mechanics.Harmonical_OscilationModel
@{
}
<h1>Harmonical Oscilation</h1>
<div class="page-title">
    <p>
        In mechanics and physics, simple harmonic motion (sometimes abbreviated SHM) is a special type of periodic motion an object experiences<br />
        due to a restoring force whose magnitude is directly proportional to the distance of the object from an equilibrium position and acts towards the equilibrium position
    </p>
</div>
<div class="mainPic">
    <img src="../Img/harmonical oscilation.png" height="300" />
</div>
<div class="backwards">
    <a href="../Index">
        <img src="../Img/backwards arrow.jpeg" alt="backwords arrow" width="75" />
    </a>
</div>