@page
@model CorePhisics.Pages.Mechanics.KinematicsModel
@{
}
<h1>Kinematics</h1>
<div class="page-title">
    <p>
        Kinematics is the study of motion of a system of bodies without directly considering the forces or potential fields affecting the motion.<br />
        In other words, kinematics examines how the momentum and energy are shared among interacting bodies.
    </p>
</div>
<div class="mainPic">
    <img src="../Img/kinematics.png" height="300" />
</div>
<div class="backwards">
    <a href="../Index">
        <img src="../Img/backwards arrow.jpeg" alt="backwords arrow" width="75" />
    </a>
</div>