@page
@model CorePhisics.Pages.Mechanics.MomentumModel
@{
}
<h1>Momentum and Impulse</h1>
<div class="page-title">
    <p>
        Momentum is a measurement of mass in motion: how much mass is in how much motion. It is usually given the symbol P<br />
        Impulse is a term that quantifies the overall effect of a force acting over time. It is conventionally given the symbol J
        Jstart text, J, end text and expressed in Newton-seconds.
    </p>
</div>
<div class="mainPic">
    <img src="../Img/momentum and impulse.png" height="300" />
</div>
<div class="backwards">
    <a href="../Index">
        <img src="../Img/backwards arrow.jpeg" alt="backwords arrow" width="75" />
    </a>
</div>