@page
@model IndexModel
@{
    ViewData["Title"] = "Physics";
}
<h1 style="allign=center;"  >Physics</h1>
<div>
    <img class="main" src="../Img/physics.png" alt="physics.png"/>
</div>
<div class="video" height="350">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TTHazQeM8v8" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
 </div>

