@page
@model CorePhisics.Pages.Electricity.ElectricityColonLawModel
@{
}
<h1>Electricity and Coulon's Law</h1>
<div class="page-title">
    <p>
        Electrical force and gravitational force are the two non-contact forces discussed in The Physics Classroom tutorial.
        Coulomb's law equation for electrical force bears a strong resemblance to Newton's equation for universal gravitation.
        The two equations have a very similar form. Both equations show an inverse squar
    </p>
</div>
<div class="mainPic">
    <img src="../Img/Coulombs Law.jpeg" height="300" />
</div>
<div class="backwards">
    <a href="../Index">
        <img src="../Img/backwards arrow.jpeg" alt="backwords arrow" width="75" />
    </a>
